.character-detail {
	width: 100%;

	.name-level {
		display: flex;
		flex-direction: row;
		gap: 15px;

		.character-name,
		.character-level {
			font-size: 24px;
		}
	}

	.character-stat {
		border: 1px solid white;
		border-radius: 15px;
		padding: 15px;
		width: 125px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.stats {
		display: flex;
		flex-direction: row;
		gap: 15px;
	}

	.traits {
		display: flex;
		flex-direction: row;
		width: 100%;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	.character-traits {
		border: 1px solid white;
		width: 15%;
		border-radius: 15px;
		padding: 15px;
		margin: 15px;

		.trait-name {
			font-size: 24px;
			text-align: center;
		}

		.detail-blocks {
			display: flex;
			flex-direction: row;

			.detail-block {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
		}
	}
}
